@page "/Charger/{id:int}"
@using WebApplication1.Shared
@using HttpClients.ClientInterface
@inject DAO dao
@inject IChargingTaskService chargerTaskService

<div class="container mt-3">
    <h2 class="mb-3">Oplader ID: @Id</h2>

    <div class="mb-3">
        <label for="batteryPercentage" class="form-label">Batteri %</label>
        <input type="number" id="batteryPercentage" class="form-control" min="0" max="100" @bind="BatteryPercentage"/>
    </div>

    <div class="mb-3">
        <label for="truckType" class="form-label">Truck type</label>
        <select id="truckType" class="form-select" @bind="SelectedTruckType">
            @foreach (var truckType in TruckTypes)
            {
                <option value="@truckType.TruckTypeId">@truckType.Model</option>
            }
        </select>
    </div>

    <button class="btn btn-primary" @onclick="onConfirm">Bekræft</button>

    @if (!string.IsNullOrWhiteSpace(successMessage))
    {
        <div class="alert alert-success mt-3" role="alert">
            @successMessage
        </div>
    }
</div>

@code {
    // Parameter attribute allows this property to be set by the parent component
    [Parameter]
    public int Id { get; set; }

    // Fields to store battery percentage, selected truck type, and success message
    public int BatteryPercentage;
    public int SelectedTruckType;
    public string successMessage;
    // List to store different truck types
    public List<TruckType> TruckTypes;
    
    // Method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
    // Fetch and store truck types from the DAO service
        TruckTypes = await dao.GetTruckTypes();
    }
    
    // Method triggered by a UI event, such as a button click
    public void onConfirm()
    {
    // Log to console for debugging purposes
        Console.WriteLine("button working");

    // Create a new charging task with the selected parameters
        ChargingTask newChargingTask = new ChargingTask
        {
            ChargerId = Id,
            BatteryPercentage = BatteryPercentage,
            TruckType = SelectedTruckType,
        };

        try
        {
    // Attempt to create a new charger task asynchronously
            chargerTaskService.CreateAsync(newChargingTask);
    // Update the success message on successful creation
            successMessage = "Truck successfully set for charging";
        }
        catch(Exception e)
        {
    // Log any exceptions to the console and display the error message
            Console.WriteLine(e);
            successMessage = e.Message;
        }
    }

}
