@page "/Charger/{id:int}"
@using WebApplication1.Shared
@using HttpClients.ClientInterface
@inject DAO dao
@inject IChargingTaskService chargerTaskService

<p>Charger ID: @Id</p>

<p>Batteri %</p>
<input type="number" min="0" max="100" @bind="BatteryPercentage"/>

<p>Truck type</p>
<select @bind="SelectedTruckType">
    @foreach (var truckType in TruckTypes)
    {
        <option value="@truckType.TruckTypeId">@truckType.Model</option>
    }
</select>

<button @onclick="onConfirm">Bekræft</button>

<label>@successMessage</label>

@code {
    [Parameter]
    public int Id { get; set; }

    public int BatteryPercentage;
    public int SelectedTruckType;
    public string successMessage;
    public List<TruckType> TruckTypes;
    
    protected override async Task OnInitializedAsync()
    {
        TruckTypes = await dao.GetTruckTypes();
    }
    
    
    public void onConfirm()
    {
        Console.WriteLine("button working");
        ChargingTask newChargingTask = new ChargingTask
        {
            ChargerId = Id,
            BatteryPercentage = BatteryPercentage,
            TruckType = SelectedTruckType,
        };

        try
        {
            chargerTaskService.CreateAsync(newChargingTask);
            successMessage = "Truck successfully set for charging";
        }
        catch(Exception e)
        {
            Console.WriteLine(e);
            successMessage = e.Message;
        }
        
        
    }

}